* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.bayan__wrapper {
  padding: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bayan__meme-pic {
  opacity: 0;
  width: 0vw;
  transition: 0.4s;
}

.bayan__meme:hover .bayan__meme-pic {
  opacity: 1;
  width: 20vw;
  transition: 0.4s;
}


.bayan__meme {
  width: 100%;
  border-top: 1px grey solid;
  padding-bottom: 1%;
}

.bayan__memes-wrapper {
  padding-top: 5%;
  width: 80vw;
}

.bayan__meme-heading {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bayan__meme-icon {
  background: url(/cssBayan/cssBayan/img/plus.svg) no-repeat;
  height: 32px;
  width: 32px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.bayan__memes-wrapper:hover .bayan__meme-icon {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}